<h1>users#show</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p> <%= @user.profile %></p>
<div class="mypage">
  <% if current_user.id == @user.id %>
    <%= link_to "編集する", edit_user_registration_path %>  
  <% end %>
  <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
  <%= link_to "トップページに戻る", tokoyus_path %>
</div>