<h1>お勧めアニメ一覧</h1>
<h3>新規投稿ページ</h3>
<%= form_for @anime do |f| %>

<div class=”hitomatomari">
  <div class="daimei">
    <%= f.label :タイトルタイトル %>
    <%= f.text_field :name, :size => 30 %>
  </div>


  <div class="miryoku">
    <%= f.label :魅力  %>
    <%= f.text_area :about, :size => "30x2" %>
  </div>
  <div class="gazou">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <%= f.submit "投稿する" %>
</div>
<% end %>

<%= link_to "一覧に戻る", animes_path %>